*{
margin:0;
padding:0;
font-family: 'Trebuchet MS';
box-sizing: border-box;
}
html {
     scroll-behavior: smooth;} 
body{
    font-family: 'Trebuchet MS';
    background-color: rgb(8, 33, 58);

}
.header{
    min-height: 70vh;
    width: 100%;
    background-color: transparent;
    background-image: linear-gradient(#5e5e5e,#00203FFF);
    background-position: center;
    background-size: cover;
    position: relative;
    font-family: 'Trebuchet MS';
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 450px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    margin-right: 25px;
    font-size: 25px;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 30px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #00203FFF;
    display: block;
    margin: auto; 
    transition: 0.5s;   
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background-color:transparent;
}
.text-box h1{
    font-size: 62px
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
}
.btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.btn:hover{
    border: 1px solid rgb(94, 94, 94);
    background: rgb(94, 94, 94);
    transition: 1s;
}
nav .fas{
    display:none;
}

@media (min-width: 500px) { /*----button---*/
    #button {
      margin: 30px;
    }
  }

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #2A2B2DFF;
        height: 100vh;
        width: 150px;
        top: 0;
        right:-150px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fas{
        display: block;
        color:black;
        margin: 15px;
        font-size: 5px;
        cursor: pointer;
    }
    nav .fas img{
        width: 25px;
        height:25px;
    }
    .nav-links ul{
        padding: 27px;
    }
    nav img{
        width: 280px;
    }
.row,.row3{
    flex-direction:column ;
}
img{
    width: 26px;
}
.slide-container {
    white-space: nowrap;
    width: 100px;
    height: 25px;
        border: 1px solid black;
  }
.slide-container img{
    width: 100px;
}
.row2 img{
    min-height: auto;
    max-width:auto;
    background-size: cover;
}
.container img {
    width: 500px;
}
.mySlides img{
    width: 700px;
}

.map{
    min-height:100px;
    max-width:480px;
    background-size: cover; 
}
.maps-col{
    min-height:200px;
    max-width:300px;
    background-size: cover;
}

}


/*----------school-----*/

.school{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.school h1{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    color: white;
}
p{
    color: black;
    font-size: 17px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    text-align: center;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.school-col{
    flex-basis: 48%;
    background: skyblue;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.8s;
    overflow: hidden;

}
.school-col img{
    width: 100%;
    height: 378px;

}
.school h3{
    text-align: center;
    font-weight: 600;
    margin: 10px; 
}
.school h2{
    text-align: center;
}
.school h4{
    text-align: center;
    color: darkblue;
}
.school-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.74);
}


/*-------------awards-------*/
.slide-container {
    overflow: auto;
    white-space: nowrap;
    width: 100%;
        flex-basis: 48%;
        background: skyblue;
        border-radius: 8px;
        margin-bottom: 5%;
        padding: 20px 12px;
        box-sizing: border-box;
        transition: 0.8s;
        border: 1px solid black;
        height: 200px;
  }
.slide-container img{
    width:200px;
}
.Awards h2{
    text-align: center;
    font-weight: 600;
    margin: 10px;
    color: white;
    font-size: 25px;
}



/*------back to top btn-----*/
#btt {  
    position: "fixed";
    right: 20.5%;
    left: 77.25%;
    max-width: 100px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    margin-right: 8px;
    margin-bottom: 5px;
}
.btt {
    text-align: right;
    color:transparent;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

/*------footer---*/
.icons .fa{
    cursor: pointer;
    padding: 18 0px;
    width: 50px;
}
.icons img{
    width: 34px;
}
.footer{
    text-align: center;
}
#footer .colophon {
    border-top: solid 1px #348fe2;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.footer p{
    text-align: center;
    font-weight: 600;
    margin: 10px;
    color: white;
}

/*-----------Vision & Mission-----*/
.header1{
    min-height: 35vh;
    width: 100%;
    background-color: transparent;
    background-image: linear-gradient(#5e5e5e,#00203FFF);
    background-position: center;
    background-size: cover;
    position: relative;
    font-family: 'Trebuchet MS';
}
.banner{
    min-height: 70px;
    width: 100%;
    background-size: cover;
}
#banner img{
    width: 100%;
    height: 168px;
    opacity: 0.6;
}
.container-vision {
    position: relative;
  }
  
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    text-align: justify;
    font-family: Verdana;
    font-weight: bold;
    color: white;
    text-shadow: 3px 4px 5px #08213a;
}
.row3{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.vision h2{
    font-family:Helvetica;
    font-weight: 800;
    text-align: center;
    color: white;
    text-shadow: 3px 4px 5px #08213a;
}
.vision-col{
    flex-basis: 47%;
    background: #17446d;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.6s;
}
.vision-col1{
    background: #17446d;
    border-radius: 10px;
    padding: 20px 12px;
    box-sizing: border-box;
    text-align: center;
    margin: auto;
    width: 50%;
    transition: 0.6s;
}
.vision-col:hover , .vision-col1:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.74);
}
.vision-col p,ul,li{
    font-family: Helvetica;
    font-weight: 500;
    font-size: 25px;
    margin: auto;
    line-height: 1.6;
    color: white;
    text-shadow: 3px 4px 5px #08213a;
    list-style-position: inside;
    text-align:center;
}
.vision-col1 p{
    font-family: Helvetica;
    font-weight: 500;
    font-size: 23px;
    margin: auto;
    line-height: 1.6;
    color: white;
    text-shadow: 3px 4px 5px #08213a;
}

/*-----------History TIMELINE------*/
.tl img{
    min-height: 60px;
    width: 100%;
}
.tl{
min-height: 70px;
    width: 100%;
    background-size: cover;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: skyblue;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.container-tl {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.container-tl::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid black;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}


.right::after {
  left: -16px;
}

.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

@media screen and (max-width: 700px) {
  .timeline::after {
  left: 31px;
  }
  
  .container-tl {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  .container-tl::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  .left::after, .right::after {
  left: 15px;
  }
  
  .right {
  left: 0%;
  }
}
/*--------------Facilities SLIDES-------*/
.column2 {
    float: left;
    width: 20%;
  }
.row2 img{
    min-height: 70px;
    max-width: 80%;
    background-size: cover;
}
.container h2{
    padding: 15px;
    color: white;
}
.container {
    position: relative;

  }
.mySlides img{
    min-height: 50px;
    max-width: 40%;
    background-size: cover;
    margin-left: 29%;
    margin-right: auto;
}
  
  .mySlides {
    display: none;
  }
  
  .cursor {
    cursor: pointer;
  }

  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  .caption-container p{
      color: white;
  }
  
  .row2:after {
    content: "";
    display: table;
    clear: both;
  }
  .column {
    float: left;
    width: 16.66%;
  }
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

/*---------CONTACT---MAPS-------*/
.maps1{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.maps h2{
    font-family:Helvetica;
    font-weight: 800;
    text-align: center;
    color: white;
    text-shadow: 3px 4px 5px #08213a;
}
.maps-col{
    background: #17446d;
    border-radius: 10px;
    margin-bottom: 2%;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.6s;
    margin-left: auto;
    margin-right: auto;
    width: 890px;
}
.maps-col:hover{
    box-shadow: 0 0 20px 0px rgba(255, 255, 255, 0.74);
}
.maps-col p ul li{
    font-family: Helvetica;
    font-weight: 500;
    margin: auto;
    line-height: 1.6;
    color: white;
    text-shadow: 3px 4px 5px #08213a;
    list-style-position: inside;
    text-align:center;
}
.map{
    width:850px;
    height:450px;
    border: 0;
    flex-direction: column;
    margin: auto;
}
.contact{
    text-align: center;
    color: white;
    margin-top: 50px;
}
a:link {
    color: white;
  }
  a:visited {
    color: white;
  }
  a:hover {
    color: #87ceeb;
  }
  a:active {
    color: #77b2c9;
}
.contact img{
    padding: 2px;
  margin-left: auto;
  margin-right: auto;
}






